.mainBar {
    width: 40%;

    box-shadow: 3px 3px 5px var(--bottomShadow),
        -3px -3px 3px var(--topShadow);
    margin: 2%;

    background-color: var(--barBackgroundColor);

    border-radius: 15%/1%;

    position: absolute;
    top: 50%;
    left: 30%;
    transition: top 0.5s;
}


.barCont {
    position: relative;
    width: 5%;
    min-width: 5%;
    height: 100%;
}

.barText {
    color: var(--primaryColor);
    margin: 30%;
    transition: scale 0.5s;
    font-size: 1.15vw;
    user-select: none;
}

.barText.toggle {
    scale: 1.7;
    font-weight: 700;

}



.circle {
    position: absolute;
    top: 51.5%;
    left: 23%;


    background-color: var(--circleBg);
    backdrop-filter: blur(10px);

    box-shadow: 3px 3px 5px var(--bottomShadow),
        -3px -3px 3px var(--topShadow);

    width: 60%;
    aspect-ratio: 1/1;

    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}