.apCont {
    position: relative;
    width: 10%;
    min-width: 10%;
    height: 90%;


    display: flex;
    align-items: center;
    justify-content: center;
}

.apBG {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;


    box-shadow: 3px 3px 5px var(--bottomShadow),
        -3px -3px 3px var(--topShadow);
    margin: 2%;

    background-color: var(--barBackgroundColor);

    border-radius: 20%/20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.apText {
    margin: 10%;
    color: var(--primaryColor);

    transition: scale 0.5s;
    font-size: 1.0vw;
    user-select: none;
}

.apText.toggle {
    scale: 1.7;
    font-weight: 700;

}

.apCenter {
    position: absolute;
    top: 51.5%;
    left: 47%;

    background-color: var(--circleBg);
    backdrop-filter: blur(10px);

    box-shadow: 3px 3px 5px var(--bottomShadow),
        -3px -3px 3px var(--topShadow);

    width: 50%;
    aspect-ratio: 3/1.5;

    border-radius: 10%/20%;

    display: flex;
    align-items: center;
    justify-content: center;
}