#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  user-select: none;
}

:root {
  --bgTop: white;
  --bgBottom: grey;
  --bottomShadow: rgba(128, 128, 128, 0.761);
  --topShadow: rgba(255, 255, 255, 0.412);
  --barBackgroundColor: rgb(255, 255, 255, 0.10);
  --primaryColor: white;
  --circleBg: rgba(125, 125, 125, 0.8);
  --accentColor: white;
}

[data-theme='light'] {
  --bgTop: white;
  --bgBottom: grey;
  --bottomShadow: rgba(128, 128, 128, 0.761);
  --topShadow: rgba(255, 255, 255, 0.412);
  --barBackgroundColor: rgb(255, 255, 255, 0.10);
  --primaryColor: white;
  --circleBg: rgba(125, 125, 125, 0.8);
  --accentColor: white;
}

[data-theme='dark'] {
  --bgTop: rgb(58, 58, 58);
  --bgBottom: rgb(32, 32, 32);
  --bottomShadow: rgba(0, 0, 0, 0.761);
  --topShadow: rgba(61, 61, 61, 0.412);
  --barBackgroundColor: rgba(0, 0, 0, 0.1);
  --primaryColor: black;
  --circleBg: rgba(59, 59, 59, 0.8);
  --accentColor: black;
}

[data-theme='purple'] {
  --bgTop: rgb(201, 166, 219);
  --bgBottom: rgb(111, 51, 141);
  --bottomShadow: rgba(75, 48, 79, 0.761);
  --topShadow: rgba(190, 143, 194, 0.412);
  --barBackgroundColor: rgba(120, 95, 125, 0.1);
  --primaryColor: rgb(255, 255, 255);
  --circleBg: rgba(121, 63, 141, 0.8);
  --accentColor: purple;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cont {
  width: 100vw;

  aspect-ratio: 16/9;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;

}

.spacer {
  width: 30%;
  height: 100%;
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;

  left: 0;
  top: 0;
  background: linear-gradient(-45deg, var(--bgBottom), var(--bgTop));
  display: flex;
  align-items: center;
}